<div class="card">
    <div  class="col-lg"  >
        
       
    
    <h5 class="card-header">Araç Kirala</h5>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="inputPassword" class="col-lg-auto col-form-label">Ücret</label>
            <div class="col-lg" *ngFor="let car of cars">
                <input class="form-control" type="text" placeholder="{{car.dailyPrice | currency: '₺'}}"
                    aria-label="Disabled input example" disabled>
            </div>
        </div>
        <label for="example-date-input" class="col-lg-auto col-form-label">Başlangıç</label>
        <input [(ngModel)]="rentDateValue" class="form-control" min="{{ getRentMinDate() }}" value="{{ getRentMinDate() }}" type="date"
            [(ngModel)]="rentDate" />
        <label for="example-date-input" class="col-4 col-form-label">Bitiş</label>
        <input class="form-control" type="date" min="{{ getReturnMinDate() }}" value="{{ getReturnMinDate() }}"
            [(ngModel)]="returnDate" />
        <div class="d-grid gap-2">
            <button routerLink="/payment" class="btn btn-warning btn-block mt-3" *ngIf="checkAvailability() == true" (click)="checkClick()">Aracı
                Kirala</button>
            <button class="btn btn-danger mt-3" *ngIf="checkAvailability() == false" disabled>Araç Kullanımda</button>
        </div>
    </div>
</div>
</div>

<!--<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka Adı</th>
            <th>Ad Soyad</th>
            <th>Kiralama Tarihi</th>
            <th>Dönüş Tarihi</th>
        </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.rentalId}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.firstName + rental.lastName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</table>-->

<!--<div>
    <div class="mb-3">
      <div class="form-group">
        <label style="float: left;" for="startDate">Başlangıç tarihi: </label>
        <input style="float: right;" type="date" id="startDate" (change)="calculatePrice()" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
      </div>
      <br>
    </div>
    <div class="mb-3">
      <div>
        <label style="float: left;" for="endDate">Bitiş tarihi: </label>
        <input style="float: right;" type="date" id="endDate" (change)="calculatePrice()" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
      </div>
      <br>
    </div>
    
      
      <div class="d-grid gap-2">
        <p style="float: left;" *ngIf="endDate && startDate" >Toplam ücret: {{rentPrice | currency:"TRY":"symbol-narrow":"1.2-2"}}</p>
        <button class="btn btn-primary" *ngIf="checkAvailability() == true" (click)="checkClick()"
               routerLink="/Card/" >
            <i class="bi-search me-1"></i> Kirala
        </button>
        <button class="btn btn-danger mt-3" *ngIf="checkAvailability() == false" disabled>Araç Kullanımda</button>
        </div>
    
  </div>-->