<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<div class="row">
<div class="col-md-4">
    <select class="form-select rounded-0" [(ngModel)]="brandFilter">
       <option value="0">- - Marka Seçiniz - -</option>
 
       <option *ngFor="let brand of brands" value="{{ brand.brandId }}">
          {{ brand.brandName }}
       </option>
    </select>
 </div>

 <div class="col-md-4">
    <select class="form-select rounded-0" [(ngModel)]="colorFilter">
       <option value="0">- - Renk Seçiniz - -</option>
 
       <option *ngFor="let color of colors" value="{{ color.colorId }}">
          {{ color.colorName }}
       </option>
    </select>
 </div>

 <div class="col-lg">
    <div class="d-grid">
       <button class="btn btn-primary"
               routerLink="/cars/filter/{{ brandFilter }}/{{ colorFilter }}">
          <i class="bi-search me-1"></i> Filtrele
       </button>
    </div>
 </div>
</div>
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka Adı</th>
            <th>Renk Adı</th>
            <th>Model Yılı</th>
            <th>Günlük Fiyat</th>
            <th>Açıklama</th>
            <th>Findex Puanı</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td appHighlight>{{car.Id}}</td>
        <td appHighlight>{{car.brandId}}</td>
        <td appHighlight>{{car.colorId}}</td>
        <td appHighlight>{{car.modelYear}}</td>
        <td appHighlight>{{car.dailyPrice}}</td>
        <td appHighlight>{{car.description}}</td>
        <td appHighlight>{{car.findexPoint}}</td>
        <td>
            <a  class="btn btn-outline-secondary"
                routerLink="/cars/detail{{car.Id}}">Detay
            </a>
        </td>
        <td>
         <button class="btn btn-sm btn-primary rounded-0 px-4"
         routerLink="/cars/update/{{ car.Id }}">
     <i class="bi-pencil me-1"></i> Güncelle
     </button>
        </td>
    </tr>
</table>
